{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dale La Vuelta</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'venta/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Assistant&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ccca34c160.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <section>
        <header>
            <div>
                <!-- Carrusel Header -->
                <div id="header" class="carousel slide" data-bs-ride="carousel">
                    <!-- Texto Carrusel -->
                    <div id="fuente-header" class="carousel-inner">
                        <div class="carousel-item active">
                            <h6 class="text-center p-1 pt-2">Envío gratis por compras sobre $40.000</h6>
                        </div>
                        <div class="carousel-item">
                            <h6 class="text-center p-1 pt-2">Suscribete al newsletter y recibe un 15% de DCTO en tu primera compra</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid p-0">
                <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="{% url 'index' %}"><i class="fa-solid fa-shirt"></i></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="mynavbar">
                            <ul class="navbar-nav me-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'hombre' %}" id="linkHombre">Hombre</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'mujer' %}" id="linkMujer">Mujer</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'infantil' %}" id="linkInfantil">Niñ@s</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'unisex' %}" id="linkUnisex">Unisex</a>
                                </li>
                            </ul>
                            <div class="d-flex align-items-center text-white">
                                {% if user.is_authenticated %}
                                    
                                    <p class="d-flex pt-3 me-2">¡Hola! {{user.username}}</p>
                                    <a class="rounded me-3" href="{% url 'usuario' %}"><i class="fa-solid fa-user p-2 text-white"></i></a>
                                    {% if user.is_staff %}
                                        <a class="rounded me-3" href="{% url 'producto_mod' %}"><i class="fa-solid fa-database text-white"></i></a>
                                    {% endif %}
                                {% else %}
                                    <a class="rounded me-2" href="{% url 'login' %}"><i class="fa-solid fa-user p-2 text-white"></i></a>
                                {% endif %}

                                <a class="rounded me-2" href="{% url 'carrito' %}"><i class="fa-solid fa-cart-shopping p-2 text-white"></i></a>
                            </div>
                            <form class="d-flex align-items-center" action="{% url 'producto_search' %}" method="GET">
                                
                                <input class="form-control me-2" type="search" placeholder="Buscar..." name="prodbuscar">
                                <button type="submit" class="btn btn-dark">
                                    <i class="fa-solid fa-magnifying-glass p-2 text-white"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        
        <!--Titulo central-->
        <div id="fuente-titulo" class="p-5 text-center">
            <h1 class="fw-bold fs">Modificar producto</h1>
            <p class="fst-italic">"Demosle una nueva vida a las prendas"</p>
        </div>
        <!--Añadir productos-->
        <div class="container login w-25">
            {% if producto %}
                <form action="{% url 'producto_update' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token%}
                    
                    <p>ID: <br><input class="w-100" type="number" name = "idprod" value="{{producto.id_producto}}" readonly></p>
                    <p>Categoría: <select name="categoria">
                        {% for i in categorias %}
                            {% if i.descripcion == producto.id_categoria.descripcion%}
                                <option value="{{i.id_categoria}}" selected>{{i.descripcion}}</option>
                            {% else %}
                                <option value="{{i.id_categoria}}">{{i.descripcion}}</option>
                            {% endif %}
                        {% endfor %}
                    </select></p>
                    <p>Nombre: <br><input class="w-100" type="text" name = "nombre" maxlength="25" value="{{producto.nombre}}"></p>
                    <p>Marca: <br><input class="w-100" type="text" name = "marca" maxlength="25" value="{{producto.marca}}"></p>
                    <p>Descripción: <br><textarea name="descripcion" class="w-100" maxlength="200" cols="20" rows="4" placeholder="{{producto.descripcion}}" value="">{{producto.descripcion}}</textarea></p>
                    <p>Talla: <br><input class="w-100" type="text" name = "talla" maxlength="4" value="{{producto.talla}}"></p>
                    <p>Precio: <br><input class="w-100" type="number" name = "precio" value="{{producto.precio}}"></p>
                    <p>Stock: <br><input class="w-100" type="number" name = "stock" value="{{producto.stock}}"></p>
                    
                    <p>Imagen actual: 
                        <div class="text-center">
                            <img src="{{producto.imagen.url}}" alt="product_image" width="240" height="300" class=" justify-content-center">
                        </div>
                    </p>
                    <br>
                    <p>Nueva imagen: <input class="w-100" type="file" name="imagen"></p>
                    <br>
                    <br>
                    <input class="btn btn-primary" type="submit" value="Modificar">
                </form>
            {% endif %}
            <br>
        </div>
        <br>
        <div class="text-center fs-5 fst-italic fw-bold">
            {% if mensaje %}
                {{mensaje}}
            {% endif %}
        </div>
        
        <br>
        <br>
        <!-- Aqui va lo ultimo de abajo -->
        <footer id="fuente-footer" class="row p-5 ancho-total m-0">
            <div class="col-xs-12 col-md-6 col-lg-3">
                <h4 class="fw-bold">DALE LA VUELTA</h4>
                <p class="m-0 small text-secondary">Somos un equipo de jovenes dispuestos a darle una nueva vida a aquellas prendas que ya parecian acabadas para que implementes en tu estilo cada día.</p>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <h4 class="fw-bold">Informacion de contacto</h4>
                <p class="m-0 small text-secondary">Teléfono de contacto: +569 1234 5678</p>
                <p class="small text-secondary">Dirección: Avenida Providencia #123, Viña del Mar</p>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <h4 class="fw-bold">Redes sociales</h4>
                <i id="animacion" class="fa-brands fa-whatsapp pe-1 animacion"></i><i class="fa-brands fa-instagram animacion"></i>
                <p class="m-0 small text-secondary">WhatsApp: +569 1234 5678</p>
                <p class="small text-secondary">Instagram: @dalelavuelta</p>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <h4 class="fw-bold">Info adicional</h4>
                <p class="m-0 small text-secondary animacion">Preguntas frecuentes</p>
                <p class="small text-secondary animacion">Opiniones de clientes</p>
            </div>
        </footer>
        <div class="container-fluid text-center color-footer">
            <p class="m-0">©2023 Dale la vuelta Chile SpA. Todos los derechos reservados</p>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <script src="{% static 'venta/js/script.js' %}"></script>
</body>
</html>
<!---->